<label>Create New Artist</label>
<%= form_for(@artist) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :age %>
  <%= f.text_field :age %><br>
  
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.submit %>
<% end %>
